<div class="footer-container">
    <div class="container">
        <div class="upper-footer">
            <div class="logo">
                <span >EuroTour</span>
            </div>
            <div class="footer-contact">
                <h3>Contact</h3>
                <ul>
                    <li><i class="fa-solid fa-location-dot"></i>Str. Traian Vuia nr. 149-151, Cluj-Napoca, România</li>
                    <li><a href="tel://+40 (766) 540 549"><i class="fa-solid fa-phone"></i>0766 540 549</a></li>
                    <li class="skiptranslate"><a href="mailto:office@euro-tour.ro"> <i class="fa-solid fa-envelope"></i>office&#64;euro-tour.ro</a></li>
                    <li><i class="fa-regular fa-calendar-days"></i>Luni-Duminică: 09:00-18:00</li>
                </ul>
            </div>
            <div class="footer-info">
                <h3>Info utile</h3>
                <ul>
                    <li><a routerLink="/tarife"><i class="fa-solid fa-angle-right"></i>Tarife</a></li>
                    <li><a routerLink="/intrebari-frecvente"><i class="fa-solid fa-angle-right"></i>Întrebări frecvente</a></li>
                    <li><a routerLink="/politica-confidentialitate"><i class="fa-solid fa-angle-right"></i>Politica de confidențialitate</a></li>
                    <li><a routerLink="/termeni-si-conditii"><i class="fa-solid fa-angle-right"></i>Termeni și condiții</a></li>
                </ul>
            </div> 
        </div>
        <p class="lower-footer">© 2013 - 2024 by Euro Tour Car Rental & co.</p>
    </div>   
</div>

<div class="footer-container hidden">
    <div class="container">
        <div class="upper-footer">
            <div class="logo">
                <span>EuroTour</span>
            </div>
            <div class="footer-contact">
                <h3>Contact</h3>
                <ul>
                    <li><i class="fa-solid fa-location-dot"></i>Str. Traian Vuia nr. 149-151, Cluj-Napoca, România</li>
                    <li><a href="tel://+40 (766) 540 549"><i class="fa-solid fa-phone"></i>0040766540549</a></li>
                    <li class="skiptranslate"><a href="mailto:office@euro-tour.com"> <i class="fa-solid fa-envelope"></i>office&#64;euro-tour.com</a></li>
                    <li><i class="fa-regular fa-calendar-days"></i>Luni-Duminică: 09:00-18:00</li>
                </ul>
            </div>
            <div class="footer-info">
                <h3>Info utile</h3>
                <ul>
                    <li><a routerLink="/tarife"><i class="fa-solid fa-angle-right"></i>Tarife</a></li>
                    <li><a routerLink="/intrebari-frecvente"><i class="fa-solid fa-angle-right"></i>Întrebări frecvente</a></li>
                    <li><a routerLink="/politica-confidentialitate"><i class="fa-solid fa-angle-right"></i>Politica de confidențialitate</a></li>
                    <li><a routerLink="/termeni-si-conditii"><i class="fa-solid fa-angle-right"></i>Termeni și condiții</a></li>
                </ul>
            </div> 
        </div>
        <p class="lower-footer">© 2024 by Euro Tour Car Rental & co.</p>
    </div>   
</div>