.footer-container{
    position:absolute; 
    bottom:0;
    right:0;
    left:0;
    padding:4rem 0.3rem 1rem 0.3rem;
    background-color: var(--footer-bg);
    color:var(--footer-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align:center;
    .logo{
        font-family: "Lexend Zetta", sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 1rem;
    }
    a{
        color: var(--footer-color);
        &:hover{
            color: var(--primary);
        }
    }
    .upper-footer{
        h3{
        font-family: "Lexend", sans-serif;
        font-size:16px;
        font-weight: 400;
        letter-spacing: 1px;
        padding-bottom:1rem;
        padding-top:2rem;
        }
        li{
        padding-bottom:0.4rem;
        }
        i{
            margin-right:7px;
        }
        .footer-info i{
            display:none;
            
        }
    }
    .lower-footer{
        padding-top:2rem;
        font-size:12px;
    }    
}

.hidden{
    position:unset;
    background-color:transparent; 
    color:transparent;
    cursor:default;
    user-select: none;
    a{
        cursor:default;
        color:transparent; 
        &:hover{
            color:transparent;
        }
    } 

}
@media (min-width:760px){
    .footer-container{
        padding:1.5rem;
        text-align:left;
        .upper-footer{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            gap:3%;
            .logo{padding-top:2rem;
            padding-right:1rem;}
            .footer-info i {
                display:inline;
            }
        }
        .lower-footer{
            text-align:center;
        }
    }
}