.header-container{
    width:100%;
    position:fixed; 
    top:0;
    z-index:2;
    background-color: white;
    box-shadow: 1px 0px 5px darkgrey;
    padding:1rem 1rem 1rem 1rem;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .left-side-header{
        .mobile-menu{
            color: var(--accent2);
            font-size: 2rem;
            margin-right: 0.8rem;
            cursor: pointer;
        }
        .close-menu{
            display: none;
        }
        .display-exit-btn{
            display:block;
            position:fixed;
            top:1rem;
            z-index:3;
            font-size:2.5rem;
            width:35px;
            color:var(--accent2)
        }
        .logo{
            display:none; 
        }
    }
    .right-side-header{
        .upper-nav{
            display: flex;
            flex-direction:column;
            align-items: self-end;
            i{
                font-size:1rem;
            }
            a{
                color:black;
                font-weight: bold;
            }
            .language{
                margin-top:0.2rem;
                height:1.5rem;
                overflow: hidden;          
            }
        }
        .navbar{
            display: none;
        }
        .display-menu{
            display:block;
            background-color:var(--dark);
            position:fixed;
            width:100%;
            height: 100%;
            left:0;
            top:0;
            text-align: center;
            ul{
                padding-top:8rem;
                li{
                    padding-bottom:2rem;
                    font-size:1.5rem; 
                    a{
                        padding-bottom:2px;
                        color: white;
                        &:hover{ 
                            color:var(--accent2);
                        }
                    }
                    .current{
                        border-bottom:2px solid white;
                        &:hover{
                            border-bottom:2px solid var(--accent2);
                        } 
                    }
                }
            }
        }
    }     
}

@media (min-width:760px) {
    .header-container{
        position:absolute;
        top:-5rem;
        padding: 0.5rem 1.5rem;
        .mobile-menu{
                display: none;
            }
        .left-side-header{
            .logo{
                display:block;
                width: 9rem;
                transition: width ease-in 0.1s;
            }
        }  
        .right-side-header{
            flex-basis:50%;
            max-width:500px;
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            .upper-nav {
                display: flex;
                flex-direction:row;
                justify-content: flex-end;
                gap:5%;   
                margin-bottom:0.5rem;             
            }
            .navbar{
                display:block;
                ul{
                    display: flex;
                    flex-direction:row;
                    justify-content: space-between;
                    padding-top:0.5rem;
                }
                a {
                    color:var(--dark);
                    font-weight:600;
                    font-size:1.1rem;
                    letter-spacing: 0.2px;
                    padding-bottom:2px;
                    &:hover{ 
                    color:var(--accent2);
                    }
                }
                .current{
                    border-bottom: 2px solid var(--dark);
                    &:hover{ 
                        border-bottom:2px solid var(--accent2);
                    }
                }
            }
        }
    }
    .new-header{
        position:fixed;
        top:0;
        z-index:2;
        .left-side-header .logo{
            width:6rem;
            transition: width ease-in 0.1s;
        }
        .right-side-header .upper-nav{
            display: none;
        }
    }
}

@media (min-width:1024px){
    .header-container{
        .right-side-header{
            .navbar a{
                    font-size:1.2rem;
            }
        }
    }
}
@media (min-width:1440px){
    .header-container{
        .right-side-header{
            flex-basis:40%;
        }
    }
}
