<div style="margin-top: 5rem;"></div>
<div class="header-container" appScroll>
    <div class="container">
        <div class="left-side-header">
            <i class="fa-solid fa-bars mobile-menu" (click)="openMenu(navigation, closeMenuBtn)"></i>
            <i class="fa-solid fa-xmark close-menu" #closeMenuBtn (click)="closeMenu(navigation, closeMenuBtn)" (window:keydown.esc)="closeMenu(navigation, closeMenuBtn)"></i>
            <a routerLink="/"><img class="logo" src="../../../assets/logo-final.svg"></a>
        </div>    
        <div class="right-side-header">
            <div class="upper-nav">
                <a href="tel://+40 (766) 540 549"><i class="fa-solid fa-phone"></i> +40 766 540 549</a>
                <div id="google_translate_element" class="language"></div>
            </div> 
            
            <nav class="navbar" #navigation >
                <ul>
                    <li><a routerLink="/home" routerLinkActive="current" (click)="closeMenu(navigation, closeMenuBtn)">Flotă</a></li>
                    <li><a routerLink="/rezervari/{{carId}}" routerLinkActive="current" (click)="closeMenu(navigation, closeMenuBtn)">Rezervări</a></li>
                    <li><a routerLink="/tarife" routerLinkActive="current" (click)="closeMenu(navigation, closeMenuBtn)">Tarife</a></li>
                    <li><a routerLink="/termeni-si-conditii" routerLinkActive="current" (click)="closeMenu(navigation, closeMenuBtn)">Condiții</a></li>
                </ul>
            </nav> 
        </div>
    </div>
</div>


