.reservation-page{
    padding: 3rem 0.5rem 2rem 0.5rem;
    h2{
        font-family:'Lexend', sans-serif;
        font-weight:500;
    }
    .is-invalid{
        border:1px solid red; 
        background-color: rgba(255, 0, 0, 0.05);
    }
    small{
        display:block;
        color:red;
        text-align: right;
    }
    input, select, textarea{
        border-radius: 5px;
        border: 1px solid var(--color20);
    }
    select, input[type='date']{
        padding:0.3rem;
    }
    .reservation-info{
        padding-bottom:2.5rem;
        a{ 
            font-weight: 600;
        }
        p{
            padding-bottom:1rem;
        }
    }
    .reservation{
        max-width: 500px;
        display: grid;
        gap:4%;
        margin-bottom: 5rem;
        .car-select, .date-select, .personal-info {
            background-color: white;
            border:1px solid var(--color20); 
            box-shadow: 0 0 5px var(--color20);
            border-radius:10px;;
            padding: 0.5rem 0.5rem 1.5rem 0.5rem;
            h2{
                background-color: var(--color05);
                border-radius:10px 10px 0 0;
                padding:0.5rem 0.5rem 0.5rem 1rem;
                margin:-0.5rem;
                margin-bottom: 1.5rem;
                font-size:20px;
            }
        }
        .car-select{  
            select{
                font-size:15px;
            }
            p.reservation-price{
                float: right;
                width:100px;
                height: 100px;
                text-align: center;
                font-size:1.1rem;
                padding: 1.2rem 0.6rem 0.3rem 0.6rem;
                margin-bottom:1rem;
                background-color:var(--reservation);
                color:var(--color);
                border-radius: 50%;
                border: 1px solid var(--color20);
                .price-all-days{
                    display: block;
                    border-top: 1px solid var(--color20);
                    margin-top:0.2rem;
                    padding-top:0.2rem;
                    font-weight:bold;
                    font-size:1.2rem;
                }
            }
            .reservation-img img{
                    width:100%;
                    border-radius: 10px;
            } 
        }
        .date-select{
            display: grid;
            grid-template-columns: 1fr 1fr;
            h2{
                grid-column: 1/3;
            }  
            input{
                font-size:0.9rem;
                font-family:Arial, Helvetica, sans-serif;
            }
            div{
                margin-bottom: 1rem;
                p {
                    padding: 0.5rem 0;
                }
            }
            .time{
                margin-top:0.5rem;
                display:flex;
                justify-content: center;
                margin-bottom:0;
            }   
        }
        .personal-info{   
           margin-bottom: 3rem;  
            input{
                float: right;
                padding:2px 5px;
                margin-top: 5px;
            }
            label{
                line-height: 30px;
                position: relative;
                font-size: 15px;
                span{
                    font-size:0.7rem;
                    position: absolute;
                    top: -8px;
                }
            }
            textarea{
                display: block;
                width:100%;
                padding: 0.5rem;
            }
        }
    }
    .summary{
        max-width: 500px;
        background-color: var(--reservation);
        color:var(--color);
        padding: 4rem 1rem 1rem 1rem;
        font-size: 16px;
        border-radius: 10px;
        box-shadow: 0 0 5px var(--color20);
        border: 1px solid var(--color05);
        h2{ 
            text-align: center;
            padding-bottom: 3rem;
            font-size:22px;
        }
        div{
            padding-bottom: 0.8rem;
            span{
                width:45px; 
                font-weight:500;
                float: right;
            }
        }
        div.show-scdw{
            position: relative;
            padding-bottom: 2rem;
            .bonus{
                display: none;
            } 
            .display-bonus{
                display: block;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;
                background-color: white;
                color: black;
                font-size:14px;
                width: 80%;
                padding: 0.5rem; 
                border-radius:3px;
                box-shadow: 0 0 10px var(--color20);
            }
        }
        .total-price{
            border-top: 1px solid var(--color20);
            padding: 2.5rem 0 2.5rem 0.3rem;
            font-weight: bold;
            span{
                font-size: 1.2rem;
                margin-right:0.2rem;
            }
        }
        .negotiable{
            font-size:14px;           
        }
    }
    .accord{
        max-width: 500px;
        padding-top: 2rem;
        padding-left:1rem;
        a{
            text-decoration: underline;
        }
    }
    .submit-btn{
        display:block;
        outline: none;
        border:none; 
        font-size:18px;
        margin: 3rem auto;
        width: 300px;
    }
    .submit-btn:disabled{
        &:hover{
            background-color: lightgray;
            box-shadow: none;
            cursor:auto;
        }
    }
}

@media (min-width:760px) {
    .reservation-page{
        .reservation{
            max-width:unset;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 3rem;
            .car-select{
                grid-column: 1/2;
                grid-row:1/3;
                height: 545px;
                p.reservation-price{
                    padding: 0.6rem;
                    font-weight: 500;
                    width:130px;
                    height: unset;
                    border-radius:5px;
                    .price-all-days{
                        margin-top:0.3rem;
                        padding-top:0.3rem;
                        margin-bottom: 0;
                        padding-bottom:0;
                    }
                }
                .reservation-img img{
                    margin-top:3rem;
                }
            }
            .date-select{
                grid-column: 2/3;
                grid-row:1/2;            
            }
            .personal-info{
                padding-bottom:0.5rem;
                grid-column: 2/3;
                grid-row:2/3;
                input{ 
                    width: 220px;
                }
            }
        }
        .summary{ 
            div.show-scdw{
                .display-bonus{
                    left: 150px;
                    top: 1.5rem;
                }
            }
        }
    }
}

@media (min-width:1024px){
    .reservation-page{
        .reservation-info{
            font-size:18px;
        }
        input[type="date"]{
            font-size:1rem;
        }
        .reservation{ 
            .car-select{
                height: 570px;
                h2{
                    margin-bottom: 0;
                }
                select{
                    margin: 1rem 0 0 0.5rem;
                    font-size: 1rem;
                }
                p.reservation-price{
                    margin: 1rem 0.5rem 0 0;
                    padding: 1.4rem 0.5rem;
                    width:45%;
                    height:70px;
                    .price-all-days{
                        min-width:60px;
                        float:right;
                        border-left: 1.5px solid var(--color20); 
                        border-top:none; 
                        padding:0 0 0 0.5rem;
                        margin:0 0 0 0.5rem;
                    }
                }
            }
            .date-select{
                p{
                    font-size: 18px;
                }
            }
            .personal-info{
                padding: 1rem;
                h2{
                    margin: -1rem;
                    margin-bottom:1rem;
                }
                input{ 
                    font-size:0.9rem;
                }
                label{
                    font-size: 17px;
                    line-height: 35px;
                }
            }
        }
        .summary{
            max-width: unset;
            width: 700px;  
            padding: 1.5rem 6rem;
            font-size: 18px;
        }
        .accord{
            max-width:700px;
            padding-left:6rem;
        }
        .submit-btn{
            font-size:1.5rem;
            margin: 5rem auto;
        }
    }
}

@media (min-width:1440px){
    .reservation-page{
        .reservation{ 
            .car-select{
                p.reservation-price{
                    .price-all-days{
                        min-width:80px;}
                }
                .reservation-img img{
                    margin-top:2rem;
                }
            }
            .personal-info{
                input{ 
                    width: 300px;
                }
            }
        }
        .summary{
            width: 800px;  
            padding: 2.5rem 7rem 1.5rem 7rem;
            font-size:1.2rem;
            div.show-scdw{
                .display-bonus{
                    font-size:1rem;
                }
            }
        }
        .accord{
            font-size:1.1rem;
            max-width: 800px;  
            padding-left:7rem;
        }
    }
}