<div class="container reservation-page" *ngIf="currentCar">
    <h1 class="title">Rezervare mașină</h1>
    <div class="reservation-info">
        <p>Pentru rezervări, vă rugăm să sunați la numărul de telefon <a href="tel://+40 (766) 540 549">0766 540 549</a>, sau să completați formularul de mai jos. </p>
        <p>Câmpurile marcate cu asterisc (*) <strong> trebuie </strong>completate pentru a putea trimite rezervarea.</p> 
    </div>
    <form #form #reservationForm="ngForm" (ngSubmit)="sendEmail($event)" >       
        <div class="reservation centered"> 
            <div class="car-select">
                <h2>Selectează mașina</h2>
                <small style="text-align: left; margin-top:5px;" *ngIf="tempCar.invalid && tempCar.touched">Vă rugăm să selectati masina dorita</small>
                <select name="selected-car" #selectedCar (change)="carSelect(selectedCar.value)" 
                #tempCar="ngModel" [ngModel]="currentCar.id"
                required
                [class.is-invalid]="tempCar.invalid && tempCar.touched">
                    <option *ngFor="let eachCar of allCars$ | async" [value]="eachCar.id">{{eachCar.name}}</option>
                </select>
                <p class="reservation-price" ><span>{{numberDays}} zile x {{priceDay}}€/zi</span><span class="price-all-days">{{priceAllDays}}€</span></p>

                <div class="reservation-img">
                    <img [src]="currentCar.img" [alt]="currentCar.name"> 
                </div>
            </div>
    
            <div class="date-select">
                <h2>Alege Datele</h2>
                <div class="pick-up-date centered">
                    <p>Dată preluare</p>
                    <input type="date" name="pickup" required [(ngModel)]="pickupDate" #pickup (change)="firstDate(pickup.value)" [min]="today.toISOString().split('T')[0]"  >
                    <div class="time"><input type="time" name="pickup-h" #firstT (change)="firstTime(firstT.value)" ngModel></div>
                </div>
                <div class="dropoff-date centered">
                    <p>Dată predare</p>
                    <input type="date" name="dropoff" required [(ngModel)]="dropoffDate" #dropoff (change)="lastDate(dropoff.value)" [min]="pickupDate" #tempDropoff="ngModel">
                    <div class="time"><input type="time" name="dropoff-h" #lastT (change)="lastTime(lastT.value)" ngModel></div>
                </div>
            </div>
    
            <div class="personal-info">
                <h2>Date personale</h2>
                <label for="name">Nume <span>*</span></label>
                <input type="text" name="name" id="name" placeholder="Nume si prenume" 
                    #tempName="ngModel" ngModel
                    required
                    [class.is-invalid]="tempName.invalid && tempName.touched"> <br>
                <small *ngIf="tempName.invalid && tempName.touched">Vă rugăm să introduceți numele d-voastră</small>
                <label for="email">Email <span>*</span></label>
                <input type="email" name="email" placeholder="Adresa email"  id="email" 
                    #tempEmail="ngModel" ngModel
                    required pattern="[A-Za-z0-9\._%+\-]+@[A-Za-z0-9\.\-]+\.[A-Za-z]{2,}"
                    [class.is-invalid]="tempEmail.invalid && tempEmail.touched">  <br>
                <small *ngIf="tempEmail.invalid && tempEmail.touched">Vă rugăm să introduceți o adresă de email validă</small>
                <label for="tel">Nr telefon <span>*</span></label>
                <input type="tel" name="tel" placeholder="Numar de telefon"  id="tel"  
                    #tempPhone="ngModel" ngModel
                    required
                    [class.is-invalid]="tempPhone.invalid && tempPhone.touched"> <br>
                    <small *ngIf="tempPhone.invalid && tempPhone.touched">Vă rugăm să introduceți numărul de telefon</small>
                <label for="message">Mesaj</label>
                <textarea name="message" placeholder="Informatii suplimentare" id="message" cols="30" rows="7" ngModel></textarea>
                
            </div>
        </div>
        
        <div class="summary centered">
            <h2>Sumar Rezervare</h2>
            <div>Preț închiriere <span >{{priceAllDays}}€</span></div>
            <div>Garanție <span>{{currentCar.warranty}}€</span></div>
            <div class="show-scdw">
                <input type="checkbox" name="assurance" id="assurance" [(ngModel)]="assurance" (change)="updatePrices()">  
                <label for="assurance"> asigurare facultativă <i class="fa-solid fa-circle-info" (mouseover)="toggleBonus(bonus)" (mouseout)="toggleBonus(bonus)" (click)="toggleBonus(bonus)"></i></label>
                <div class="bonus" #bonus>Asigurarea SCDW BONUS vă acoperă în caz de accidente, inclusiv din cauza dumneavoastră, prin reducerea responsabilității financiare maxime în caz de daună sau furt, caz în care nu mai e necesară plata garanției.</div>
                <span>{{currentCar.assurance * numberDays}}€</span> 
            </div>
            <div class="total-price"> PREȚ TOTAL <span>{{totalPrice}}€</span></div>
            <div *ngIf="negotiable" class="negotiable">* Având în vedere că perioada aleasă este mai mare de 21 de zile, prețul de închiriere este negociabil!</div>
        </div>

        <div class="accord centered">
            <input type="checkbox" required id="accord" name="accord" ngModel #tempAccord="ngModel" >
            <label for="accord">Sunt de acord cu <a routerLink="/termeni-si-conditii">Termenii și Condițiile</a>*</label>
            <small style="text-align: left;" *ngIf="reservationForm.invalid && tempAccord.invalid && tempAccord.touched">Pentru a face rezervarea trebuie să acceptați Termenii și Condițiile</small>
        </div>
        <input type="submit" value="Trimite Rezervarea" class="button submit-btn" [disabled]="reservationForm.invalid">
    </form>
</div>