<div class="container reservation-page">
    <h1 class="title">Rezervare mașină</h1>
    <p class="reservation-info">Pentru rezervări, vă rugăm să sunați la numărul de telefon <a href="tel://+40 (766) 540 549">0755 934 953</a>, sau să completați formularul de mai jos. </p>
    
    <form action="https://formsubmit.co/f25e4f074875849b81f48aaa5c959a16" method="POST">
        <!--honeypot + disable captcha-->
        <input type="text" name="_honey" style="display:none;">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="http://localhost:4200/succes">
        <div class="reservation centered"> 
            <div class="car-select">
                <h2>Selectează mașina</h2>
                <select name="Masina&nbsp;aleasa" required #selectedCar (change)="carSelect(selectedCar.value)" >
                    <option *ngFor="let eachCar of allCars" [value]="eachCar.id" [selected]="eachCar === currentCar">{{eachCar.name}}</option>
                </select>
                <p class="reservation-price"><span>{{numberDays}} zile x {{priceDay}}€/zi</span><span class="price-all-days">{{priceAllDays}}€</span></p>

                <div class="reservation-img">
                    <img [src]="currentCar.img" [alt]="currentCar.name">
                </div>
            </div>
    
            <div class="date-select">
                <h2>Alege Datele</h2>
                <div class="pick-up-date centered">
                    <p>Dată preluare</p>
                    <input type="date" name="Data&nbsp;preluare" id="pick-up" required [valueAsDate]="startDate" #pickupDate (change)="firstDate(pickupDate.value)">
                    <div class="time"><input type="time" name="Ora&nbsp;preluare" #firstT (change)="firstTime(firstT.value)"></div>
                </div>
                <div class="dropoff-date centered">
                    <p>Dată predare</p>
                    <input type="date" name="Data&nbsp;predare" id="dropoff" required  [valueAsDate]="endDate" #dropoffDate (change)="lastDate(dropoffDate.value)">
                    <div class="time"><input type="time" name="Ora&nbsp;predare" #lastT (change)="lastTime(lastT.value)"></div>
                </div>
            </div>
    
            <div class="personal-info">
                <h2>Date personale</h2>
                <label for="name">Nume <span>*</span></label>
                <input type="text" name="Nume" id="name" placeholder="Nume si prenume" required oninvalid="this.setCustomValidity('Va rugam sa completati numele si prenumele dumneavoastra')" oninput="setCustomValidity('')"> <br>
                <label for="email">Email <span>*</span></label>
                <input type="email" name="Email" placeholder="Adresa email"  id="email" required oninvalid="this.setCustomValidity('Va rugam sa completati adresa de email')" oninput="setCustomValidity('')"> <br>
                <label for="tel">Nr telefon <span>*</span></label>
                <input type="tel" name="Numar&nbsp;telefon" placeholder="Numar de telefon"  id="tel" required oninvalid="this.setCustomValidity('Va rugam sa completati numarul de telefon')" oninput="setCustomValidity('')"> <br>
                <label for="message">Mesaj</label>
                <textarea name="Mesaj" placeholder="Informatii suplimentare" id="message" cols="30" rows="7"></textarea>
                
            </div>
        </div>
        
        <div class="summary centered">
            <h2>Sumar Rezervare</h2>
            <div>Preț închiriere <span >{{priceAllDays}}€</span></div>
            <div>Garanție <span>{{currentCar.warranty}}€</span></div>
            <div class="show-scdw">
                <input type="checkbox" name="Asigurare" id="assurance" #assuranceBox (click)="setAssurance(assuranceBox)">  
                <label for="assurance" title="Asigurarea SCDW BONUS vă acoperă în caz de accidente, inclusiv din cauza dumneavoastră, prin reducerea responsabilității financiare maxime în caz de daună sau furt, caz în care nu mai e necesară plata garanției.">asigurare facultativă <i class="fa-solid fa-circle-info"></i></label>
                <span>{{currentCar.assurance}}€</span> 
            </div>
            <div class="total-price"> PREȚ TOTAL <span>{{totalPrice}}€</span></div>
            <div *ngIf="negotiable" class="negotiable">* Având în vedere că perioada aleasă este mai mare de 21 de zile, prețul de închiriere este negociabil!</div>
        </div>

        <div class="accord centered">
            <input type="checkbox" required id="accord" oninvalid="this.setCustomValidity('Pentru a face rezervarea trebuie sa acceptati Termenii si Conditiile')" oninput="setCustomValidity('')"> 
            <label for="accord">Sunt de acord cu Termenii și Condițiile </label>
        </div>
        <input type="submit" value="Trimite Rezervarea" class="submit-btn" >
    </form>
    <div class="reservation-other">
    <p>* Preluarea și predarea autoturismelor se face la Aeroportul International Cluj-Napoca, de luni până duminică, în intervalul orar 09-18. </p>
    <p>* Plata cu CARD-ul se poate face dacă aveti un CARD Visa sau Mastercard care să fie pe numele dvs.</p>
    </div>
</div>
   

