<section class="hero">
    <div class="container">
        <h1 class="title"> Închiriază mașina dorită la un preț accesibil</h1>
        <p>Oferim solutii de mobilitate pentru toate bugetele</p>        
    </div>
</section>

<section class="fleet container">
    <h2 class="title">Flota noastră vă stă la dispoziție</h2>
    <div class="cars">
        <div class="car" *ngFor="let car of cars">
                <div class="promo" *ngIf="car.promo">de la 
                <span>{{car.price[2].dayEightTwentyOne | currency: 'EUR' : 'symbol' : '2.0-0'}}</span> 
                <br/>/zi
                </div>
            <div class="photo"><img [src]="car.img" [alt]="car.name"></div>
            <p class="car-title">{{car.name}}</p>
            <ul class="car-details">
                <li class="engines">
                    <h3>Combustibil</h3>
                    <span>{{car.specs[0].fuel | titlecase}}</span>
                </li>
                <li class="gearbox">
                    <h3>Transmisie</h3>
                    <span>{{car.specs[1].gear | titlecase}}</span>
                </li>
            </ul>
            <div class="car-buttons">
                <button type="button" routerLink="/masina/{{car.id}}">Detalii</button>
                <button type="button" routerLink="/rezervari/{{car.id}}">Rezervă</button>
            </div>
        </div>
    </div>
</section>
