.hero{
    background-image: url('../../../assets/pexels-lukas-žvikas-1075947.jpg');
    transform: scaleX(-1);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    color:white;
    padding: 5rem 0.5rem 4rem 0;
    h1, p{ 
        transform: scaleX(-1);
    }
    h1{
        text-transform:uppercase;
        padding-bottom: 3rem;
        line-height: 2.5rem;
    }
    p{
        padding-bottom: 1rem;
        font-size: 1.2rem;
    }
}

.fleet{
    padding:0 0.5rem;
    .title{
        padding: 6rem 0 3rem 0;
    }
    .cars{
        display: flex;
        flex-wrap: wrap;
        gap:2%;
        padding-top:3rem;
        padding-bottom:4rem;    
        .car{
            width:310px;
            border: 1px solid var(--color20);
            border-radius:10px;
            box-shadow: 0px 0px 10px var(--color20);
            margin:0 auto 2rem auto;
            padding: 10px;
            background-color:white;
            position:relative;
            font-size: 16px;
            .photo{
                width:100%;
                aspect-ratio: 1.25/1; 
                img{
                    width:100%;
                    border-radius: 10px;
                }
            } 
            .car-category{
                font-size: 14px;
                margin-top: 10px;
                color: var(--color80);
            }
            .car-title{
                font-family: 'Lexend', sans-serif;
                font-size:20px;
                font-weight:500;
                margin-top: 6px;
            }
            .car-details{
                margin-bottom:22px;
                color:var(--color80);
                li{
                   margin-top: 5px;
                }
            }
            .car-buttons{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .clear-btn{
                    background-color: white;
                    color:var(--color);
                    border: 1.4px solid var(--color50);
                }
            }
        }
    }
}
@media (min-width:1024px){
    .hero{
        margin-right:0;
        h1{ 
            font-size:2.4rem;
            margin-left:500px;
        }
        p{
            font-size: 1.2rem;
            margin-left: 400px;
        }
    }
    .fleet{
        padding:0;
        .cars{
            .car{
                margin-bottom:2rem;
                width:330px;
            }
        }
    }
}

@media (min-width:1440px){
    .hero{
        h1{ 
            margin-left:700px;
        }
        p{
            margin-left: 500px;
        }
    }
}