.car-page{
    padding: 3rem 0;
    .particular-car{
        display: flex;
        flex-direction:column;
        align-items: center;
        h3{
            font-family: 'Lexend';
            font-weight:500;
        }
        .car-photo{
            position: relative;
            border: 1px solid var(--color20);
            border-radius: 10px;
            box-shadow: 0px 0px 10px var(--color20);
            background-color:white; 
            height: 230px;
            width:280px;
            overflow: hidden;
            display:flex; 
            flex-direction: column; 
            justify-content: center;
            .promo{
                padding: 1px 5px;
                top:5px;
                left:5px;
                width:63px;
                height:63px;
                font-size:0.7rem;
                line-height: 20px;
                span{
                    font-size:1.2rem;
                }
            }
            img{
                width:100%;   
                object-fit: cover;
                border-radius: 10px;    
            } 
        } 
        h3{
            padding-top:2.5rem;
            padding-bottom:1rem;
            text-align:center;
            color: var(--color);
        }
        .car-specs{
            font-size: 16px;
            width:280px;
            li{
                line-height: 28px;
                span{
                    margin-left:10px;
                    font-weight:500; 
                    float:right;
                }
                .trunk i{
                    margin-left:5px;
                    color:lightgrey;                    
                }
                .trunk .black{
                    color:black;
                }
            }
            .car-equipment{
                li{
                    text-align: center;
                } 
            }
        }
        .price-days{
            margin:0.7rem auto 1rem auto;
            width:90%;
            padding:1rem 0.5rem 0 0.7rem;
            box-shadow: 0px 0px 10px var(--color20); 
            border: 1px solid var(--color20);
            border-radius: 5px;
            div:first-child{
                border-bottom: 1px solid var(--color20);
                margin-bottom: 1rem;
            } 
            span{
                display:inline-block;
                padding-bottom:1rem;  
                width:22%; 
                text-align:center;  
            }
            .price-days-title{
                font-weight: bold;
                width:34%;
                text-align:left;
            }
        }
        .negotiable{
            text-align:center;
            margin-bottom:3rem;
        }
        .price-total{
            max-width:500px;
            margin:0 auto;
            background-color:var(--color05);
            border-radius:5rem 0;
            padding: 3rem 1.5rem; 
            text-align: center;
            p{
                font-size:16px;
                padding-bottom:1rem;
                &:last-child{
                    padding-bottom:0;
                }
            }
        }
    }
    .reserve-btn{
        display:block;
        margin: 4rem auto 2rem auto;
        font-size: 18px;
    } 
}

@media (min-width:760px) {
    .car-page{
        .title{
            margin-left: 1.7rem;
        }
        .particular-car{ 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .car-photo{
                height: 300px;
                width:350px;
                .promo{
                    top:23px;
                    left:9px;                   
                }
                img{
                    margin-top:1rem;
                }
            }
            h3{
                margin-bottom: 1.5rem;
            }         
            .price-days-div{
                order:2;
                flex-basis:40%;
            }
            .car-specs{
                width: unset;
                order:3;
                display: flex;
                justify-content: space-around;
                padding-bottom: 3rem;
                width:100%;
                li{
                    line-height: 1.4rem;
                }
                .specs{
                    width:300px; 
                 }
                .car-equipment{
                    width:400px;
                    ul{
                        display: flex;
                        flex-direction:row; 
                        flex-wrap: wrap;
                        gap:5%;     
                        justify-content: space-between;  
                        align-items: center; 
                        li{
                            width:45%;
                        }              
                    }
                }  
            }
            .price-total{
                order:4;
                border-radius: 2rem 5rem;
                margin:1.7rem auto;
                p{
                    font-size: 1rem;
                }
            }
        }   
        .reserve-btn{
            margin-top: 2rem;
        } 
    }
}

@media (min-width:1024px){
    .car-page{
        .title{
            margin-left: 0;
        }
        .particular-car{  
            h3{
                font-size:20px;
                padding-bottom:1.3rem;
            }  
            .car-photo{
                height:500px;
                flex-basis:45%;
                padding-bottom:2.5rem;
                .promo{
                    width: 75px;
                    height: 75px;
                    font-size: 1rem;
                    padding-top:8px;
                    span{
                        font-size:1.5rem;
                    }
                }
            }      
            .car-specs{               
                order:2;
                flex-basis:50%;
                flex-direction: column;
                align-items: flex-end;
                ul{
                    font-size:18px;
                    li{
                    padding: 3px 0;
                    }
                }
                .specs{
                    h3{padding-top:0;}
                    width:430px;
                }
                .car-equipment{
                    width:430px;
                    div:first-child{
                        li{
                            text-align: left;
                        }
                    }
                    div:nth-child(2){
                        li{
                            text-align: right;
                        }
                    }
                } 
            }
            .price-days-div{
                padding-top:8rem;
                order:3;
                flex-basis:40%;
                font-size:18px;
                margin-bottom:2rem;
                h3{padding-top:0;}
                .negotiable{
                    padding-top:0.5rem;
                    font-size:1.15rem;
                }
            }
            .price-total{
                margin-right:0;
                margin-top:5rem;
                flex-basis:50%;
                max-width:800px;
                p{
                    font-size:18px;
                }
            } 
        }
        .reserve-btn{
            margin: 3rem auto 3rem auto;
            padding: 1rem 1.8rem;
        }  
    }
}

@media (min-width:1440px){
    .car-page{
        .particular-car .car-specs{
            .specs, .car-equipment{
               width:480px;
            }
        }
    }
}