<div class="container car-page" *ngIf="car$ | async as car">
    <h1 class="title">{{car.name}}</h1>
    <div class="particular-car">
        <div class="car-photo">
            <div class="promo" *ngIf="car.promo">de la <br><span>{{car.price[2].dayEightTwentyOne | currency: 'EUR': 'symbol' :'2.0-0'}}</span> <br>/zi</div>
            <img [src]="car.img" [alt]="car.name">
        </div>            
        <div class="car-specs">
            <div class="specs">
                <h3>Specificații</h3>
                <ul>
                    <li>Tip combustibil: <span>{{car.specs[0].fuel | titlecase}}</span></li>
                    <li>Cutie de viteze: <span>{{car.specs[1].gear | titlecase}}</span></li>
                    <li>Volum portbagaj 
                        <span class="trunk"><i class="fa-solid fa-suitcase-rolling" [ngClass]="{'black': car.specs[2].trunk > 4}"></i><i class="fa-solid fa-suitcase-rolling" [ngClass]="{'black': car.specs[2].trunk > 3}"></i><i class="fa-solid fa-suitcase-rolling" [ngClass]="{'black': car.specs[2].trunk > 2}"></i><i class="fa-solid fa-suitcase-rolling" [ngClass]="{'black': car.specs[2].trunk > 1}"></i><i class="fa-solid fa-suitcase-rolling" [ngClass]="{'black': car.specs[2].trunk > 0}"></i> </span>
                    </li>
                    <li>Categorie: <span>{{car.carType | titlecase}}</span></li>
                </ul>
            </div>
            <div class="car-equipment">
                <h3 >Dotări</h3>
                <ul>
                    <li *ngFor="let equip of car.equipment">{{equip | titlecase}}</li>
                </ul>
            </div>                     
        </div>
        <div class="price-days-div">
            <h3>Tarife în funcție de numărul de zile</h3>
            <div class="price-days">
                <div>
                    <span class="price-days-title">Nr zile</span>
                    <span>1-3</span>
                    <span>4-7</span>
                    <span>8-21</span>
                </div>
                <div>
                    <span class="price-days-title">Pret / zi</span>
                    <span>{{car.price[0].dayOneThree | currency: 'EUR': 'symbol' :'2.0-0'}}</span>
                    <span>{{car.price[1].dayFourSeven | currency: 'EUR': 'symbol' :'2.0-0'}}</span>
                    <span>{{car.price[2].dayEightTwentyOne | currency: 'EUR': 'symbol' :'2.0-0'}}</span>
                    
                </div>  
            </div>
            <p class="negotiable">Dacă alegeți o perioada mai mare de 21 de zile, prețul de închiriere este <strong>negociabil.</strong></p>
        </div>
        <div class="price-total">
            <p>Tarifele sunt exprimate în EURO/zi de închiriere și includ: TVA, R.C.A, ROVINIETĂ, ASIGURARE CASCO, ANVELOPE DE IARNĂ, kilometraj nelimitat, mentenanță conform specificațiilor producătorului, asistența rutieră 24/7.</p>
            <p>Tarifele nu includ: combustibil, amenzi de parcare sau de circulație, scaun auto pentru copii.</p>
        </div>
    </div>
    
    <button class="button reserve-btn" type="button" routerLink="/rezervari/{{id}}">Rezervă</button>
</div>
