.succes {
    padding: 4rem 0.5rem 0 0.5rem;
    height:75vh;
    p{ 
        font-size:18px;
        text-align: center; 
    }
}

@media (min-width:760px) {
    .succes {
       padding-left: 1rem;
       padding-right:1rem;
        p{ 
            text-align:left; 
        }
    }
}
