:root {
    --primary: #F0712C;
    --primary-hover: #f0651a;
    --footer-bg: #242223; 
    --footer-color:#F5F1E8;
    --bg: #F9FAFA;
    --color:#242223;
    --color50: rgba(36, 34, 35, 0.5); 
    --color20: rgba(36, 34, 35, 0.2); 
    --color05: rgba(36, 34, 35, 0.05); 
    --color80: rgba(36, 34, 35, 0.8); 
    --reservation: rgba(36, 34, 35, 0.1);
}
*, *::before, *::after{
    box-sizing: border-box;
    margin:0; 
    padding:0;
}
html{
    height: 100%;
}
body{
    min-height:100%;
    font-family: 'Roboto', sans-serif;
    position:relative;
    background-color: var(--bg);
    color: var(--color);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
}

.button{
    background-color: var(--primary);
    color: white;
    width:140px;
    border-radius: 5px;
    border:none;
    outline:none;
    padding: 0.5rem 0; 
    font-size:16px;
    font-weight:600;
    letter-spacing: 0.5px;
    cursor: pointer;
    &:hover{
        background-color: var(--primary-hover);
        box-shadow: 1px 1px 5px var(--color20);
    }
}

.container{ 
    max-width: 1000px;
    margin:0 auto;  
}
.title{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size:1.9rem;
    text-align:center;
    padding-bottom: 3rem;
}
.centered {
    margin: 0 auto;
}
.promo{
    background-color: var(--primary-hover);
    color: var(--bg);
    position:absolute;
    height: 75px;
    width: 75px;
    padding:0.3rem 0.5rem;
    border-radius:50%;
    text-align:center;
    line-height: 1.4rem;
    span{
        font-size:1.6rem;
        font-weight:bold;
    }
}
@media (min-width:760px) {
    .title{
        text-align:left;
    }
}

@media (min-width:1024px){
    .container{
        max-width:1100px;
    }
    .title{
        font-size:2rem;
        padding: 1rem 0 2rem 0;
    }
}

@media (min-width:1440px){
    .container{
        max-width:1300px;
    }
}