<div class="container price-page">
    <div class="price-text">
        <h1 class="title">Tarife Închiriere Auto</h1>
        <p>Tarifele sunt exprimate în EURO/zi de închiriere și includ: TVA, R.C.A, ROVINIETĂ, ASIGURARE CASCO, ANVELOPE DE IARNA, kilometraj nelimitat, mentenanță conform specificațiilor producătorului, asistență rutieră 24/7.</p>
        <p>Tarifele nu includ: combustibil, amenzi de parcare sau de circulație, scaun auto pentru copii.</p>
        <p>Asigurarea SCDW BONUS vă acoperă în caz de accidente, inclusiv din cauza dumneavoastră, prin reducerea responsabilității financiare maxime în caz de daună sau furt, caz în care nu mai e necesară plata garanției.</p>
        <p>Plata cu CARDUL se poate face dacă aveti un CARD Visa sau Mastercard care să fie pe numele dvs.</p>
    </div>
    <ng-template #noData>A apărut o eroare de încărcare. Vă rugăm să reîncercați.</ng-template>
    <div *ngIf="carCategories$ | async as carCat; else noData">
        <div class="price-table">
            <div class="header-row">
                <span></span>
                <span>1-3 zile</span>
                <span>4-7 zile</span>
                <span>8-21 zile</span>
                <span>Garanție</span>
                <span title="Asigurarea SCDW BONUS vă acoperă în caz de accidente, inclusiv din cauza dumneavoastră, prin reducerea responsabilității financiare maxime în caz de daună sau furt, caz în care nu mai e necesară plata garanției.">SCDW/zi <i class="fa-solid fa-circle-info"></i></span>
                <span></span>
            </div>
            <div class="row" *ngFor="let cat of carCat; let i=index">
                    <span class="car-name" (click)="toggle(i)">
                        <span>{{cat.carType | titlecase}} <i class="fa-solid fa-caret-down"></i></span>
                        <span class="cars-in-category" 
                            [class.display-cars-in-category]="display[i]" 
                            *ngFor="let car of cat.carsInCategory">
                          {{car.name}}
                        </span> 
                    </span>
                    <span>{{cat.price[0].dayOneThree | currency:'EUR' : 'symbol' : '2.0-0'}}</span>
                    <span>{{cat.price[1].dayFourSeven| currency:'EUR': 'symbol' : '2.0-0'}}</span>
                    <span>{{cat.price[2].dayEightTwentyOne| currency:'EUR': 'symbol' : '2.0-0'}}</span>
                    <span>{{cat.warranty | currency:'EUR': 'symbol' : '2.0-0'}}</span>
                    <span>{{cat.assurance | currency:'EUR': 'symbol' : '2.0-0'}}</span>
                    <span><button class="reserve-btn" type="button" routerLink="/rezervari/{{cat.carsInCategory[0].id}}">Rezervă</button></span>
            </div>     
        </div>
    </div>
    <div class="price-text"> 
        <p class="negotiable">Dacă doriți să închiriați mașina pentru o perioada mai mare de 21 de zile, prețul de închiriere este <strong>negociabil.</strong> </p>
    </div>
</div>     