.price-page{
    padding: 3rem 0.5rem;
    .price-text{
        p{
            padding:0.5rem 0;
            font-size:16px;
        }
        .negotiable{
            text-align:center; 
            margin-bottom:3rem;
        }
    }
    .price-table{
        margin: 3rem auto 2rem auto;
        font-size:18px;
        overflow-x: auto;
        border-radius: 5px;
        .header-row{
            min-width:950px;
            background-color:var(--color20);
            border-bottom: 2px solid var(--color50);
            font-weight:500;
            height: 4rem;
            padding: 1.5rem 0;
            display: flex;
            position:relative;
            span{
                flex-basis: 10%;
                position: relative;
                text-align:center;
                i{ font-size:0.9rem;}
            }
            .bonus{
                display: none;
            } 
            .display-bonus{
                display: block;
                position: absolute;
                right: 0.5rem;
                top: 3rem;
                background-color: white;
                color: black;
                font-size:14px;
                font-weight:400;
                width: 30%;
                padding: 0.5rem; 
                border-radius:3px;
                box-shadow: 0 0 10px var(--color20);
            }
            span:first-child{
                flex-basis:35%;
            }
            span:nth-child(6){
                flex-basis:11%;
            }
            span:last-child{
                flex-basis:14%;
            }
        }
       .row{
            min-width:950px;
            margin:0 auto;
            padding: 0.9rem 0 0.6rem 0.5rem;
            border-bottom: 1px solid var(--color50);
            display:flex;
            flex-direction:row;
            min-height:max-content;
            span{
                flex-basis:10%;
                text-align:center;
             }
            span.car-name{
                flex-basis:35%;
                text-align:left;
                cursor: pointer;
                .cars-in-category{
                    display:block;
                    margin:-0.5rem 0 0 1rem;
                    text-align: left;
                    font-size: 1rem;
                    height:0;
                    overflow: hidden; 
                    transition: 0.3s ease-out;
                }
                .display-cars-in-category{ 
                    height:fit-content;
                    margin-top:0.4rem;
                }
            }
            span:nth-child(6){
                flex-basis:11%;
            }
            span:last-child{
                flex-basis:14%;
                .reserve-btn{
                    margin-top:-0.5rem;
                }
            }
            &:hover{
                background-color:var(--color05);
            } 
            &:last-child{
                border-bottom:none;
            } 
        }
    }
}    

@media (min-width:760px){
    .price-page{
        .price-table{
            .header-row {
                .display-bonus {
                    width:70%;
                }
            }
        
        }
    }
}
@media (min-width:1024px){
    .price-page{
        .price-text p{
            font-size:17px;
            padding:0.7rem 0.5rem;
        }
    }
}
@media (min-width:1440px){
    .price-page{
        max-width:  1100px;
    }
}